@mixin fpo() {
  background-color: slategray;
  position: relative;

  &:before {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
  
  &:after {
    content: 'FPO';
    color: #fff;
    font: 20px/1 Helvetica;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}