$color--purple: #510059;
$color--pink: #de5499;
$color--green: #8dc63f;
$color--blue: #438ccb;
$color--gold: #ffae00;
$color--white: #fff;
$color--black: #252525;

$font-size--small: 12px;
$font-size--regular: 16px;
$font-size--large: 24px;
$font-size--x-large: 32px;
$font-size--xx-large: 48px;
$font-size--xxx-large: 64px;
$font-size--xxxx-large: 96px;